:root {
    --color_bg_header: #0eb469; 
    --color_text_header: #005730;
    --font_header: Arial, Helvetica, sans-serif;
    --font_header_active:#fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    background-color: var(--color_bg_header);
    flex-wrap: wrap; 
}

.logo img {
    height: 24px; 
    object-fit: contain; 
}

.navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
    margin: 0;
}

.navigation li {
    margin: 0;
    font-size: 22px;
    font-family: var(--font_header);
    font-weight: bold;
    transition: transform 0.3s ease; 
}

.navigation li:hover {
    transform: scale(1.1);
}

.nav-link {
    color: var(--color_text_header);
    text-decoration: none;
    transition: color 0.25s ease;
}

.nav-link.active {
    color: var(--font_header_active);
}

.nav-link:hover {
    color: var(--font_header_active);
}

/* ajustes para tamanhos de tela menores */
@media (max-width: 840px) {
    .navigation {
        gap: 80px; 
    }
}

@media (max-width: 768px) {
    .navigation {
        gap: 64px; 
    }
}

@media (max-width: 624px) {
    .navigation {
        gap: 48px; 
    }
}

@media (max-width: 552px) {
    .navigation {
        gap: 32px; 
    }
    .navigation li {
        font-size: 18px;
    }
}

@media (max-width: 470px) {
    .navigation {
        gap: 16px; 
    }
}

@media (max-width: 420px) {
    .navigation {
        gap: 8px; 
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .navigation li {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .header {
        padding: 8px 16px;
    }
    
    .navigation {
        gap: 8px; 
        flex-wrap: wrap;
    }
    
    .navigation li {
        font-size: 16px;
    }
}
